{{!-- view auth reset.hbs --}}

    <div class="reset__wrapper background-nav">

        {{#if error}}
        <p class="alert">{{error}}</p>
        {{/if}}

        <form class="form" action="/auth/reset" method="POST">
            <div class="input-field reset__reverse">
                <input id="email" name="email" type="email" class="validate" required />
                <label class="email" for="email">Email:</label>
                <span class="helper-text" data-error="Введите email"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-primary btn-primary-reset" type="submit">Сбросить</button>
        </form>
    
</div>