<div class="footer__wrapper">
    <div class="footer__contact-infotmation">

  
        <div class="footer__contact-infotmation-commercial-register">
            <div class="footer__planet">
                <a href="/" class="footer__planet-a">
                    <svg class="planet__svg">
                        <use xlink:href="/svg/sprite.svg#planet"></use>
                    </svg>
                </a>
                <a href="/" class="nav-wrapper-a footer__planet-a">Магазин курсов</a>
            </div>
            <p>Свидетельство 0129174<br>
                24 января 2020г.<br>УНП 192761153<br>
                Дата регистрации в <br> Торговом реестре
                РБ:08.03.2020</p>
            <div class="footer__payment">
                <svg class="visa__svg">
                    <use xlink:href="/svg/sprite.svg#visa"></use>
                </svg>
                <svg class="master-card-svg">
                    <use xlink:href="/svg/sprite.svg#master-card"></use>
                </svg>
                <svg class="maestro__svg">
                    <use xlink:href="/svg/sprite.svg#maestro"></use>
                </svg>
            </div>
        </div>
        <div class="footer__contacts">
            <h1>Контакты</h1>
            <a href="/+375 29 891-89-71">+375 29 891-89-71</a>
            <a href="/+375 44 891-89-71">+375 44 891-89-71</a>
            <p>210040 г.Витебск<br> ул Чкалова к 1, д 41, каб 312</p>
        </div>
        <div class="footer__social">
            <ul>
                <li>
                    <a href="https://vk.com/" target="blank">
                        <svg class="footer__vk">
                            <use xlink:href="/svg/sprite.svg#vk"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://ru-ru.facebook.com/" target="blank">
                        <svg class="footer__face-book">
                            <use xlink:href="/svg/sprite.svg#face__book"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/explore" target="blank">
                        <svg class="footer__twitter">
                            <use xlink:href="/svg/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://accounts.google.com" target="blank">
                        <svg class="footer__google">
                            <use xlink:href="/svg/sprite.svg#google"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com" target="blank">
                        <svg class="footer__instagram">
                            <use xlink:href="/svg/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/app.js"></script>
</div>