{{> head }}

<body>
<main>
    {{> navbar}}

    <div class="conteiner">
        <div class="conteiner-lines conteiner-bg">
            {{{body}}}
        </div>
    </div>

    {{>footer}}
    </main>
</body>

</html>