{{> head }}

<body>

    {{> navbar}}

    <div class="conteiner">
        <div class="conteiner-lines conteiner-bg">
            {{{body}}}
        </div>
    </div>

    {{>footer}}
</body>

</html>