{{!-- index.hbs --}}
<main>
    <div class="block main__img">
        <div class=" main__img-bg"></div>
        
        <div class="main__content">
            <p>Данное приложение</p>
            <p>является дипломным проектом</p>
            <p>слушателя группы ИС-17 </p>
            <p>Факультета переподготовки Кадров</p>
            <p><strong>Атрощенко Константина Анатольевича</strong></p>
        </div>
    </div>
    <div class="line main__parallelogram">
        <div class="line main__parallelogram-line">
            <div class="main__parallelogram-content">
                <h1>О приложении:</h1>
                <p>Данное приложение не является комерческим. Это лишь демонстация изученного материала.</p>
                <p>Данное приложение является информационной системой в которой каждый авторизованный пользователь может
                    добавлять и продавать свои курсы.</p>
                <p>Редактировать курс может только тот пользователь который его добавил.</p>
                <p>Продажа осуществляется через форму заказа в которую поступают данные, включая email пользователя
                    заказавшего курс.</p>
                <p>Продавец связывается с заказчиком через email где обсуждают как будет производится оплата.</p>
            </div>
            <div class="main__parallelogram-svg">
                <svg class="diplom__svg">
                    <use xlink:href="/svg/sprite.svg#diplom"></use>
                </svg>
            </div>
        </div>
    </div>
</main>