{{!-- index.hbs --}}

<div class="block main__wrapper">
    <div class="nav__main-bg">

        <div class="main__content">
            <p>Данное приложение</p>
            <p>является дипломным проектом</p>
            <p>слушателя группы ИС-17 </p>
            <p>Факультета переподготовки Кадров</p>
            <p><strong>Атрощенко Константина Анатольевича</strong></p>
        </div>
    </div>
</div>
<div class="line main__parallelogram">
    <div class="line main__parallelogram-line">
        <div class="main__parallelogram-content">
            <h1>О приложении:</h1>
            <p>Данное приложение не является коммерческим. Это лишь демонстация изученного материала.</p>
            <p>&laquo;Информационная система интернет магазина курсов&raquo;  позволяет каждому зарегистрированному пользователю продавать свои курсы.</p>
            <p>Продавец свяжется с вами через email для уточнения и обсуждения оплаты.</p>
            <p>Более подробную информацию можно узнать при клике на сертификат.</p>
        </div>
        <div class="main__parallelogram-svg">
            <a href="courses.hbs">
                <svg class="diplom__svg">
                    <use xlink:href="/svg/sprite.svg#diplom"></use>
                </svg>
            </a>
        </div>
    </div>
</div>