{{!-- index.hbs --}}
<main>
    <div class="block main__img">
        <div class=" main__img-bg"></div>
    
    
    <div class="main__content">
        <p>Данное приложение</p>
        <p>является дипломным проектом</p>
        <p>слушателя группы ИС-17 </p>
        <p>Факультета переподготовки Кадров</p>
        <p><strong>Атрощенко Константина Анатольевича</strong></p>
    </div>
    </div>
    <div class="line main__parallelogram">
        <div class="line main__parallelogram-line">
            <div class="main__parallelogram-content">
                <h1>О приложении</h1>
                <p>И так начнем</p>
            </div>
            
        </div>
        
    </div>
</main>