{{!-- index.hbs --}}
<main class="main">
    <p class="main__p">Данное приложение является дипломным проектом слушателя группы ИС-17 Факультета переподготовки Кадров</p>
    <p><strong>Атрощенко Константина Анатольевича</strong></p>
</main>