html {
  font-size: 10px; }

body {
  margin: 0; }

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background: url("/img/lines.png") no-repeat;
  background-size: cover;
  background-color: black;
  opacity: 0.9;
  color: white;
  font-size: 2rem;
  width: 100%;
  overflow: hidden; }

nav,
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.nav__wrapper-ul,
.nav-wrapper-a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 999; }

nav,
ul,
a {
  font-size: 3rem;
  color: white;
  margin: 10px 20px;
  text-decoration: none;
  list-style: none; }

nav,
ul,
a:hover {
  color: yellow;
  cursor: pointer; }

#check-menu {
  display: none; }

.conteiner {
  width: 100%; }

.block {
  margin: 0;
  background: url("/img/main-bg.jpg") no-repeat;
  background-size: cover; }

.nav__main-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100%;
  opacity: 0.8; }

.main__wrapper {
  height: 70vh;
  margin-top: -83px; }

.main__content p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700; }

.main__content p {
  margin: 0; }

.line,
.main__parallelogram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  margin-top: -140px;
  background: linear-gradient(20deg, #4d9799, #71c4c6, #4d9799);
  clip-path: polygon(6% 0%, 140% 25%, 94% 100%, -20% 85%); }

.main__parallelogram-content {
  padding: 1% 1% 1% 3%; }

.main__parallelogram-content,
h1 {
  font-size: 5rem;
  color: white; }

.main__parallelogram-content p {
  margin: 0;
  font-size: 3rem; }

.diplom__svg {
  fill: white;
  width: 500px;
  height: 300px; }

.diplom__svg:hover {
  fill: #202423;
  cursor: pointer; }

.footer__wrapper {
  height: 100px;
  width: 100%;
  background-color: #202423; }

.courses__wrapper {
  margin-top: -55px;
  padding-top: 10%;
  background-color: black;
  background: url("/img/lines.png") no-repeat;
  background-size: cover;
  z-index: 1000; }

.add__wrapper {
  margin-top: -55px;
  padding-top: 10%;
  background-color: black;
  background: url("/img/lines.png") no-repeat;
  background-size: cover;
  z-index: 1000; }

.cart__wrappers {
  margin-top: -55px;
  padding-top: 10%;
  background-color: black;
  background: url("/img/lines.png") no-repeat;
  background-size: cover;
  z-index: 1000; }

.orders__wrapper {
  margin-top: -55px;
  padding-top: 10%;
  background-color: black;
  background: url("/img/lines.png") no-repeat;
  background-size: cover;
  z-index: 1000; }

.profile__wrapper {
  margin-top: -55px;
  padding-top: 10%;
  background-color: black;
  background: url("/img/lines.png") no-repeat;
  background-size: cover;
  z-index: 1000; }

.background-nav {
  background-color: black; }
