$body__color: #f9fafc;
$nav__color__gradient-one: #8b67b1;
$nav__color__gradient-two: #027b7d;

@font-face {
  font-family: 'Verdana';
  src: url(/fonts/Verdana.bin);
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0.9;
  margin: 0;
  max-width: 100%;
}

#login {
  margin-top: 50px;
}
#register {
  margin-top: 50px;
}
.conteiner {
  height: 100%;
}

.conteiner-lines {
  background: url(../img/lines.png) no-repeat;
  background-size: cover;
}

.conteiner-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  margin-top: -67px;
  // height: 1000px;
}

.block {
  background: url(../img/main-bg.jpg) no-repeat;
  background-size: 100%;
}
.main__img {
  // margin-top: 4px;
  height: 555px;
}


.main__img {
  padding-top: 67px;
}

main .main__img-bg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100%;
  // margin-top: -3px;
  opacity: 0.5;
  z-index: 2;
}

.main__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -500px;
  width: 100%;
}
.main__content p {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
  margin: 0;
  z-index: 999;
}
.main__parallelogram{
  margin-bottom: 700px;
  margin-top: -115px;
}

.line,
.main__parallelogram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background: linear-gradient(to right, #4d9799, #71c4c6, #4d9799);
  clip-path: polygon(6% 0%, 140% 25%, 94% 100%, -20% 85%);
  outline: 2px solid red;
  
}
.main__parallelogram-line {
  background: url(../img/lines1.png);
}

.line,
.main__parallelogram,
p {
  font-size: 3rem;
  color: red;
}

h1 {
  font-size: 2.2rem;
  line-height: 110%;
  margin: 0;
}

nav .nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(32, 36, 35, 0.8);
  opacity: 0.9;
  z-index: 999;
}
.nav__wrapper-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 10px 10px;
}
.nav-wrapper-a {
  font-size: 24px;
  color: #fff;
  display: block;
  padding: 0 15px;
  text-decoration: none;
}
nav ul a {
  font-size: 24px;
  color: #fff;
  display: block;
  padding: 0 15px;
  text-decoration: none;
}
nav ul a:hover {
  color: yellow;
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.tabs .tab a {
  color: #027b7d;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color 0.28s ease, background-color 0.28s ease;
  transition: color 0.28s ease, background-color 0.28s ease;
}
.tabs .tab a:hover,
.tabs .tab a.active {
  background-color: transparent;
  color: #8b67b1;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}
.row__column {
  width: 300px;
  margin: 0px 50px;
  height: auto;
  left: auto;
  right: auto;
}
.card {
  margin-top: 200px;
  outline: 2px solid red;
  width: 350px;
  height: 100%;
}
.card .card-image img {
  width: 350px;
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-content span {
  color: white;
}
.card-action a {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
}

.price {
  font-size: 2rem;
  color: white;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5em;
}
.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.course-form {
  // margin-bottom: 2rem;
}

.auth {
  padding-top: 1rem;
}
p .alert {
  margin: 0;
}
.alert {
  border-radius: 10px;
  text-align: center;
  background: #8b67b1;
  color: white;
  font-size: 2rem;
}
.course__description {
  margin-bottom: 500px;
  max-width: 1100px;
}

.course__description p {
  font-family: Proxima Nova Rg;
  color: gray;
  font-weight: 700;
  font-size: 26px;
}

.course-form {
  padding-top: 100px;
}
.input-field {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 390px;
}
.description {
  display: flex;
  flex-direction: column;
}

.description-textarea {
  width: 390px;
  height: 150px;
  margin-bottom: 40px;
  resize: none; /*запретил пользователю изменять размеры текстового поля*/
}
.description-textarea-label {
  font-size: 1rem;
  margin-bottom: 10px;
}
.profile {
  display: flex;
  flex-direction: column;
}
.profile h1 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 110%;
  margin: 0;
}
.avatar {
  max-width: 300px;
  height: auto;
}
